@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.transform {
  transform-style: preserve-3d;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: url("/fonts/Pretendard-Regular.otf") format("truetype");
}

body {
  font-family: "Pretendard", sans-serif;
  /* background: radial-gradient(circle, #fff, #f0f0f0); */
  background: #e0dcce;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

.back_color {
  /* background: radial-gradient(circle, #fff, #f0f0f0); */
  background: #e0dcce;
}

.no-scroll {
  overflow: hidden;
}
